<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="skripsi.edwin.filkomapps">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <receiver android:name=".service.TimerReceiver" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/logo_app" />

        <service android:name=".service.AppsMessage">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".service.AppsInstanceId"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".login.view.LoginActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".notifikasi.view.NotificationActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".detailUjian.view.DetailUjianActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".SplashScreenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".detailUjian.view.BacaDokumenActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".verifikasihKehadiran.view.VerifikasiActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".penilaian.view.PenilaianActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".beritaAcaraResechedule.view.BeritaAcaraReschedule"
            android:screenOrientation="portrait"/>
        <activity android:name=".jadwalUjian.view.ResultSearchActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".jadwalUjian.view.ResultSearchRiwayatActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".penilaian.view.PenilaianUjianActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".summaryPenilaian.view.SummaryPenilaianActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".summaryPenilaian.view.EditNilaiUjianActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ketuaMonitor.view.KetuaMonitorActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ketuaMonitor.view.ListGapActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".penilaian.view.PenilaianNaskahPublikasi"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".detailNilai.view.DetailNilaiMajelisActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>